<div class="container py-5 px-2">
    <div class="row">
            <div class="col-sm-12 col-md-12">
                
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        
                        <div class="card-collapsible card">
                            <div class="card-header">
                              Generar Informe <i class="fa fa-caret-down caret"></i>
                            </div>
                            <div class="card-body">
                                <form #formInforme="ngForm" (ngSubmit)="generarInforme(formInforme)">
              
                                <div class="form-group mb-2">
                                    <label>Fecha Inicial</label>
                                    <input type="date" class="form-control" [(ngModel)]="formularioData.fechaInicial" [ngModelOptions]="{standalone: true}" required >
                                </div>
    
                                
                                <div class="form-group mb-2">
                                    <label>Fecha Final</label>
                                    <input type="date" class="form-control" [(ngModel)]="formularioData.fechaFinal" [ngModelOptions]="{standalone: true}" required >
                                </div>
              
                                <div class="form-group mt-2">
                                    <button type="submit" class="btn btn-primary">
                                      <i class="fa fa-send"></i>
                                      Generar Informe
                                    </button>
                                </div>
              
                              </form>
                            </div>
                          </div>
    
                    </div>
                    
                    <div class="col-sm-12 col-md-8">
                        <div style="display: block">
                            <canvas baseChart
                                    [data]="barChartData"
                                    [options]="barChartOptions"
                                    [plugins]="barChartPlugins"
                                    [legend]="barChartLegend"
                                    [type]="'bar'">
                            </canvas>
                          </div>
                        <div class="alert alert-danger mt-4" *ngIf="errorDatos"  role="alert">
                        No hay datos para mostrar.
                        </div>
                    </div>
                </div>
    
                
    
            </div>
        </div>
    </div>