<main class="main">
  <div>
    <div class="topnav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
          Secciones:
        </a>
      
        <button class="navbar-toggler" type="button"
                (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      
        <div class="collapse navbar-collapse"
             [ngClass]="{ 'show': navbarOpen }">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Login</a>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" href="/gestion-finanzas">Gesti&oacute;n de Finanzas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/creacion-presupuestos">Creaci&oacute;n de Presupuesto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/generacion-informes">Generaci&oacute;n de Informes</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>